# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.Python
.env
env/
venv/

# IDE and editor configurations
.idea/
.vscode/

# Logs
*.log

# SQLite databases
*.sqlite3

# Docker-related files
db_data/

# Git
.git
.gitignore
